@font-face {
  font-family: "RalewayLight";
  src: url("../fonts/Raleway/RalewayLight.eot");
  src: url("../fonts/Raleway/RalewayLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/RalewayLight.woff") format("woff"), url("../fonts/Raleway/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RalewayRegular";
  src: url("../fonts/Raleway/RalewayRegular.eot");
  src: url("../fonts/Raleway/RalewayRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/RalewayRegular.woff") format("woff"),
    url("../fonts/Raleway/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/Montserrat/MontserratRegular.eot");
  src: url("../fonts/Montserrat/MontserratRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat/MontserratRegular.woff") format("woff"),
    url("../fonts/Montserrat/MontserratRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/Montserrat/MontserratBold.eot");
  src: url("../fonts/Montserrat/MontserratBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Montserrat/MontserratBold.woff") format("woff"),
    url("../fonts/Montserrat/MontserratBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MerriweatherRegular";
  src: url("../fonts/Merriweather/MerriweatherRegular.eot");
  src: url("../fonts/Merriweather/MerriweatherRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Merriweather/MerriweatherRegular.woff") format("woff"),
    url("../fonts/Merriweather/MerriweatherRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MerriweatherBold";
  src: url("../fonts/Merriweather/MerriweatherBold.eot");
  src: url("../fonts/Merriweather/MerriweatherBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Merriweather/MerriweatherBold.woff") format("woff"),
    url("../fonts/Merriweather/MerriweatherBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* Lato */
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.eot");
  src: url("../fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato/Lato-Italic.eot");
  src: url("../fonts/Lato/Lato-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato/Lato-Italic.woff") format("woff"), url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../fonts/Lato/Lato-Light.eot");
  src: url("../fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
